Repository NKU-WIKI/wxapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix(registration-modal): 修复eslint
  src/components/registration-modal/index.tsx
Due: eslint --fix, prettier --write

Refactor: Update ESLint and Stylelint configurations
  .eslintrc.js
  package-lock.json
  package.json
  src/pages/subpackage-discover/rating/detail/index.tsx
  src/pages/subpackage-interactive/note-publish/note_publish/index.tsx
  src/pages/subpackage-interactive/notification/index.tsx
  src/services/api/notification.ts
  src/services/api/recommend.ts
  src/services/api/search.ts
  src/services/api/upload.ts
  src/services/api/user.ts
  src/store/slices/campusVerificationSlice.ts
  src/store/slices/commentSlice.ts
  src/store/slices/noteSlice.ts
  src/store/slices/notificationSlice.ts
  src/utils/notificationHelper.ts
  stylelint.config.mjs
Due: eslint --fix, prettier --write

Refactor: Update linting command and documentation
  .cursorrules
  current_errors.txt
  lint_errors.txt
  src/pages/subpackage-interactive/publish/index.tsx
Due: eslint --fix, prettier --write

Refactor campus verification slice to improve sorting logic
  src/store/slices/campusVerificationSlice.ts
Due: eslint --fix, prettier --write

Fix: Resolve linting errors and warnings
  lint_errors.txt
  src/pages/subpackage-commerce/pages/second-hand/home/index.tsx
Due: eslint --fix, prettier --write

fix(): 编码错误导致不能编译
  src/pages/subpackage-commerce/pages/second-hand/home/index.tsx
  src/pages/subpackage-interactive/note-publish/note_publish/index.tsx
  src/pages/subpackage-interactive/notification/index.tsx
  src/pages/subpackage-interactive/post-detail/index.tsx
  src/pages/subpackage-profile/followers/index.tsx
  src/pages/subpackage-profile/post-detail/index.tsx
  src/pages/subpackage-profile/user-detail/index.tsx
  src/services/api/notification.ts
  src/store/slices/campusVerificationSlice.ts
  src/store/slices/noteSlice.ts
  src/store/slices/notificationSlice.ts
  src/utils/notificationHelper.ts
Due: eslint --fix, prettier --write

fix(level): 修复level的编码问题
  src/utils/levelConverter.ts
Due: eslint --fix, prettier --write

style(hot-post): 调整热榜样式
  src/pages/discover/index.tsx
Due: eslint --fix, prettier --write

style(hot): 按原型图调整热榜样式
  src/pages/discover/index.module.scss
  src/pages/discover/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: 1、修复更改评分方法；2、点击评论可以跳转到帖子；3、还原了评价主页面
  src/components/action-bar/index.tsx
  src/pages/subpackage-discover/rating/detail/index.tsx
  src/pages/subpackage-discover/rating/index.module.scss
  src/pages/subpackage-discover/rating/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve unused parameter ESLint error
  src/components/action-bar/index.tsx
Due: eslint --fix, prettier --write

fix(stylelint): 大幅修复 stylelint 语法错误
  .claude/settings.local.json
  src/pages/discover/index.module.scss
  src/pages/subpackage-commerce/pages/errands/my/index.module.scss
  src/pages/subpackage-discover/activity-square/index.module.scss
  src/pages/subpackage-discover/learning-materials/index.module.scss
  src/pages/subpackage-discover/publish-activity/index.module.scss
  src/pages/subpackage-interactive/note-detail/index.module.scss
  src/pages/subpackage-interactive/notification/index.module.scss
  src/pages/subpackage-profile/edit-profile/index.module.scss
  src/pages/subpackage-profile/followers/index.module.scss
  src/pages/subpackage-profile/my-posts/index.module.scss
Due: prettier --write, stylelint --fix

fix(babel): 修复 Babel 模块加载错误
  package.json
  src/pages/subpackage-commerce/pages/second-hand/detail/index.module.scss
Due: prettier --write, stylelint --fix

fix(stylelint): 修复阻塞构建的 CSS 语法错误
  src/pages/subpackage-commerce/pages/second-hand/detail/index.module.scss
  src/pages/subpackage-commerce/pages/second-hand/home/index.module.scss
Due: prettier --write, stylelint --fix

fix(stylelint): 继续修复构建阻塞的语法错误
  .claude/settings.local.json
  src/pages/subpackage-commerce/pages/second-hand/publish/index.module.scss
  src/pages/subpackage-discover/rating/components/RatingItem.module.scss
Due: prettier --write, stylelint --fix

fix: 修复剩余stylelint错误
  .claude/settings.local.json
  src/pages/subpackage-commerce/pages/second-hand/publish/index.module.scss
  src/pages/subpackage-interactive/note-detail/index.module.scss
  src/pages/subpackage-interactive/note-publish/note-publish/index.module.scss
  src/pages/subpackage-interactive/post-detail/index.module.scss
  src/pages/subpackage-profile/edit-profile/index.module.scss
  src/pages/subpackage-profile/followers/index.module.scss
  src/pages/subpackage-profile/history/components/HistoryItem.module.scss
  src/pages/subpackage-profile/my-posts/components/MyPostItem.module.scss
Due: prettier --write, stylelint --fix

Update ESLint and related dependencies
  .eslintrc
  .eslintrc.js
  package-lock.json
  package.json.backup
Due: none

fix: js to mjs
  eslint.config.mjs
Due: none

test: cicid workflow
  .github/workflows/deploy.yml
  .gitignore
  package-lock.json
  package.json
  scripts/notify.js
  scripts/upload.js
Due: none

fix: bug
  .github/workflows/deploy.yml
Due: none

test: cicd
  stylelint.txt
Due: none

test: 生成预览二维码
  .github/workflows/deploy.yml
  package-lock.json
  package.json
  scripts/notify.js
  scripts/upload.js
Due: none

fix: 开通飞书上传图片权限
  .env.example
  .github/workflows/deploy.yml
  README-CI.md
  lint_errors.txt
  scripts/notify.js
Due: none

fix: 解决图片上传400
  package-lock.json
  package.json
  scripts/notify.js
Due: none

docs: docs不触发工作流
  .github/workflows/deploy.yml
  scripts/notify.js
Due: none

fix: 学习资料页面添加分类选项
  src/pages/subpackage-discover/upload-material/index.module.scss
  src/pages/subpackage-discover/upload-material/index.tsx
  src/services/api/learningMaterial.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: 编码错误
  src/components/author-info/index.tsx
  src/pages/subpackage-commerce/pages/errands/home/index.tsx
  src/pages/subpackage-commerce/pages/second-hand/home/index.tsx
  src/pages/subpackage-interactive/notification/index.tsx
  src/pages/subpackage-interactive/post-detail/index.tsx
  src/pages/subpackage-profile/followers/index.tsx
  src/pages/subpackage-profile/post-detail/index.tsx
  src/pages/subpackage-profile/user-detail/index.tsx
  src/services/api/notification.ts
  src/store/slices/notificationSlice.ts
  src/store/slices/postSlice.ts
  src/types/api/post.d.ts
  src/utils/auth.ts
  src/utils/imageSaveControl.ts
  src/utils/notificationHelper.ts
Due: eslint --fix, prettier --write

fix: 分享计数
  src/components/note-card/index.tsx
  src/pages/subpackage-interactive/note-detail/index.tsx
  src/pages/subpackage-profile/likes/index.tsx
  src/services/api/note.ts
  src/store/slices/likeSlice.ts
  src/store/slices/noteSlice.ts
Due: eslint --fix, prettier --write

fix: 修复0.2.6部分bug 1. 移除设置冗余的编辑资料菜单 2. 移除编辑资料页面的兴趣标签和位置 3. 评论宽度渲染自适应，防止超出边框。
  .cursorrules
  package.json
  src/components/author-info/index.module.scss
  src/components/comment-section/index.module.scss
  src/pages/subpackage-interactive/note-detail/index.module.scss
  src/pages/subpackage-interactive/note-detail/index.tsx
  src/pages/subpackage-interactive/post-detail/components/CommentSection.tsx
  src/pages/subpackage-profile/edit-profile/index.tsx
  src/pages/subpackage-profile/settings/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: build默认对接开发后端以便预览
  config/prod.ts
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
